@page "/product/{id:int}"

@attribute [Authorize]

@inject IViewProductUseCase viewProduct
@inject IAddProductToCartUseCase addProductToCart
@inject NavigationManager navManager

<h3 class="my-4">View Product</h3>

<div class="d-flex justify-content-center align-items-center">
    <div class="card" style="width: 50rem;">
        <div class="text-center">
            <img src="@Product.ImageLink" class="card-img-top w-25">
        </div>
        <div class="card-body">
            <h5 class="card-title">@Product.Name</h5>
            <p class="text-muted">@Product.Brand</p>
            <hr />
            <p>Price: &nbsp; <span class="text-danger">@Product.Price.ToString("c")</span></p>
            <p class="car-text">@Product.Description</p>
        </div>
        <a href="/" class="btn btn-primary" @onclick="HandleAddProductToCart">Add Product to Shopping Cart</a>
    </div>
</div>


@code {
    Product Product = new();

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Product = await viewProduct.Execute(Endpoints.ProductUrl, Id);
    }

    private async Task HandleAddProductToCart()
    {
        await addProductToCart.ExecuteAsync(Product);
        navManager.NavigateTo("/");
    }
}
